<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide let-owlItem>
        <div class="single-homepage-slider homepage-bg-1">
            <div class="container hero-content">
                <div class="content">
                    <h2 [@activeSlide]="owlItem.isActive ? 'active' : 'inActive'">Supporting Your Pregnancy and Child
                        Care Journey</h2>
                    <p [@activeSlideP]="owlItem.isActive ? 'active' : 'inActive'">Experience personalized and advanced
                        obstetric and gynecological services, supporting your reproductive health with expertise and
                        empathy.</p>
                </div>

            </div>
        </div>
    </ng-template>
    <ng-template carouselSlide let-owlItem>
        <div class="single-homepage-slider homepage-bg-2">
            <div class="container hero-content">
                <div class="content">
                    <h2 [@activeSlide]="owlItem.isActive ? 'active' : 'inActive'">Expertise in Gynecological Endoscopy
                    </h2>
                    <p [@activeSlideP]="owlItem.isActive ? 'active' : 'inActive'">Discover cutting-edge minimally
                        invasive procedures, ensuring precise diagnosis and effective treatment for all your
                        gynecological needs.</p>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template carouselSlide let-owlItem>
        <div class="single-homepage-slider homepage-bg-3">
            <div class="container hero-content">
                <div class="content">
                    <h2 [@activeSlide]="owlItem.isActive ? 'active' : 'inActive'">Comprehensive Reproductive Health Care
                    </h2>
                    <p [@activeSlideP]="owlItem.isActive ? 'active' : 'inActive'">Benefit from compassionate and
                        innovative treatments, tailored to support your journey to parenthood with expert care and
                        guidance.</p>
                </div>
            </div>
        </div>
    </ng-template>
</owl-carousel-o>

<section class="container section about-section" id="about">
    <div class="section-content">
        <div class="section-1">
            <img src="assets/arpana-jain-about.jpeg">
        </div>
        <div class="section-2">
            <p class="info-text">Looking for a obstetrician, gynecologist and
                laparoscopic surgeon in
                Indore?</p>
            <h2 class="highlight-text">Meet Dr. Arpana Jain M.B.B.S(M.S)</h2>
            <p>Dr. Arpana Jain is a Practising Obstetrician, Gynecologist, Infertility Specialist, and Laparoscopic
                Surgeon with over 15 years of experience.She graduated from Gajaraja Medical College, Gwalior, and
                completed her post-graduation in Gynecology and Obstetrics from Shyam Shah Medical College, Rewa. Dr.
                Jain has also completed fellowships in Gynecological Endoscopy and Reproductive Medicine.
            </p>
            <p>She is a member of several professional organizations, including the Indian Medical Association (IMA),
                the Indian Society of Assisted Reproduction (ISAR), and the Federation of Obstetric and Gynaecological
                Societies of India (FOGSI).
            </p>

            <div>
                <button class="btn btn-primary" (click)="goToAboutPage()">More About Dr. Arpana Jain</button>
            </div>
        </div>
    </div>
</section>

<section class="container section products-section" id="products">
    <h2 class="section-heading">Our Treatments</h2>
    <p class="sub-heading">Expert Care in Obstetrics Surgery and Gynecology</p>
    <div class="products">
        <div class="product-item">
            <img src="assets/products/gynecology.jpg" alt="">
            <div class="product-name">
                <p>Gynecology</p>
            </div>
        </div>
        <div class="product-item">
            <img src="assets/products/infertility.jpg" alt="">
            <div class="product-name">
                <p>Infertility</p>
            </div>
        </div>
        <div class="product-item">
            <img src="assets/products/obstetrics.jpg" alt="">
            <div class="product-name">
                <p>Obstetrics</p>
            </div>
        </div>
        <div class="product-item">
            <img src="assets/products/surgery.jpg" alt="">
            <div class="product-name">
                <p>Surgery</p>
            </div>
        </div>
    </div>
</section>

<section class="container section choose-info">
    <h2 class="section-heading">Why Trust Dr. Arpana Jain?</h2>
    <p class="sub-heading">Personalized and Compassionate Treatment</p>
    <div class="quality-checks">
        <div class="quality-item">
            <div class="quality-head">
                <img src="assets/icons/icon.svg" alt="" srcset="">
                <div class="quality-content">
                    <h2>Extensive Experience and Expertise</h2>
                    <p>
                        Dr. Arpana Jain brings over 15 years of experience in obstetrics, gynecology, and laparoscopic
                        surgery, having practiced both in India and abroad. Her extensive training and clinical
                        expertise ensure the highest standard of medical and surgical care.
                    </p>
                </div>

            </div>

        </div>
        <div class="quality-item">
            <div class="quality-head">
                <img src="assets/icons/icon.svg" alt="" srcset="">
                <div class="quality-content">
                    <h2>Personalized and Compassionate Care</h2>
                    <p>
                        Dr. Jain’s approach to patient care is both personalized and compassionate. She takes the time
                        to understand each patient’s medical history, including familial and genetic predispositions, to
                        provide tailored treatments.
                    </p>
                </div>
            </div>
        </div>
        <div class="quality-item">
            <div class="quality-head">
                <img src="assets/icons/icon.svg" alt="" srcset="">
                <div class="quality-content">
                    <h2>All Woman-Related Treatments</h2>
                    <p>
                        All woman-related treatments ranging from consultation to laboratory testing are available under
                        one roof, making it convenient and comprehensive for patients.
                    </p>
                </div>
            </div>
        </div>
        <div class="quality-item">
            <div class="quality-head">
                <img src="assets/icons/icon.svg" alt="" srcset="">
                <div class="quality-content">
                    <h2>Advanced Medical and Surgical Skills</h2>
                    <p>
                        Dr. Jain holds fellowships in Gynae Endoscopy and Reproductive Medicine, highlighting her
                        commitment to advancing her skills in these specialized areas. Her expertise in these fields
                        ensures that patients receive the most advanced and effective treatments available.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section container">
    <h2 class="section-heading">Trimester Chart</h2>

    <div class="trimester-container">
        <div class="trimester-chart">
            <h3>1st Trimester</h3>
            <div class="img-container">
                <img src="assets/first-tri.svg" height="200px" width="auto">
            </div>
            <p-timeline [value]="firstTrimester" layout="horizontal" align="top" styleClass="customized-timeline">
                <ng-template pTemplate="marker" let-event>
                    <span class="image-icon" [style]="{ 'background-color': event.color }" (click)="op.toggle($event)">
                        {{event.week}}
                    </span>
                    <p-overlayPanel #op styleClass="trimester-desc">
                        <h3>{{event.heading}}</h3>
                        {{event.description}}
                    </p-overlayPanel>
                </ng-template>
            </p-timeline>
        </div>
        <div class="trimester-chart">
            <h3>2nd Trimester</h3>
            <div class="img-container">
                <img src="assets/second-tri.svg" height="200px" width="auto">
            </div>
            <p-timeline [value]="secondTrimester" layout="horizontal" align="top" styleClass="customized-timeline">
                <ng-template pTemplate="marker" let-event>
                    <span class=" image-icon" [style]="{ 'background-color': event.color }" (click)="op.toggle($event)">
                        {{event.week}}
                    </span>
                    <p-overlayPanel #op styleClass="trimester-desc">
                        <h3>{{event.heading}}</h3>
                        {{event.description}}
                    </p-overlayPanel>
                </ng-template>

            </p-timeline>
        </div>

        <div class="trimester-chart">
            <h3>3rd Trimester</h3>
            <div class="img-container">
                <img src="assets/third-tri.svg" height="200px" width="auto">
            </div>
            <p-timeline [value]="thirdTrimester" layout="horizontal" align="top" styleClass="customized-timeline">
                <ng-template pTemplate="marker" let-event>
                    <span class="image-icon" [style]="{ 'background-color': event.color }" (click)="op.toggle($event)">
                        {{event.week}}
                    </span>
                    <p-overlayPanel #op styleClass="trimester-desc">
                        <h3>{{event.heading}}</h3>
                        {{event.description}}
                    </p-overlayPanel>
                </ng-template>
            </p-timeline>
        </div>
    </div>

    <p class="trimester-info">*units in weeks</p>
</section>

<section class="contact-section section">
    <div class="container">
        <p class="section-heading">Reach Out To Us</p>
        <div class="contact">
            <div class="card">
                <h3>Book an Appoinment</h3>
                <p>+91-8889228844</p>
                <p>+91-8269576069</p>
            </div>
            <div class="card">
                <h3>Visit Our Clinic</h3>
                <p>221, Bicholi Hapsi Main Rd,<br>Sri Mangal Nagar, Indore,<br>Madhya Pradesh 452016</p>
            </div>
            <div class="card">
                <h3>Get In Touch</h3>
                <p>contact&#64;drarpanajainindore.com</p>
            </div>
        </div>

    </div>
</section>

<div class="social-right social-fixed">
    <a href="https://wa.me/+918889228844" target="_blank"><img src="/assets/icons/wp.svg" alt="" width="40px"
            height="40px" /> </a>
    <a href="tel:8269576069"><img src="/assets/icons/call.svg" alt="" width="40px" height="40px" /></a>

</div>