<div class="page-container">
    <div class="about-main">
        <div class="container">
            <div class="about-img">
                <img src="assets/about.jpeg" alt="">
            </div>
            <div class="about-info">
                <h2>Dr. Arpana Jain</h2>
                <p>Dr. Arpana Jain is a practicing Obstetrician, Gynaecologist, and Laparoscopic Surgeon. She has
                    extensive
                    experience in her field, having worked both in India and abroad for over 15 years. A graduate of
                    Gajaraja Medical College, Gwalior, M.P., she completed her post-graduation in Gynaecology and
                    Obstetrics
                    from Shyam Shah Medical College, Rewa. Her reputation precedes her in providing the highest standard
                    of
                    clinical care, whether it be medical or surgical management of gynaecological issues and
                    laparoscopic
                    conditions.</p>
                <p>Over time, while practicing, she developed a special interest in the fields of Gynae Endoscopy and
                    Reproductive Medicine, leading her to obtain fellowships in both areas. Apart from practicing at her
                    clinic, Dr. Jain ensures a thorough understanding of each case by reviewing a woman’s medical
                    history,
                    including familial history. During consultations and treatments, patients who lack knowledge about
                    their
                    biological history are tested for any genetic predispositions.</p>
                <p>Each patient benefits from her “team” approach, receiving personalized, compassionate, and
                    individualized
                    care combined with cutting-edge treatments and protocols.</p>
            </div>
        </div>
    </div>
    <section class="spec-section">
        <div class="spec-content">
            <div class="circle"><img src="assets/icons/pregnant-lady-icon.svg" width="50" height="50"></div>
            <h2>Gynecology</h2>
            <p>Diagnosis and treatment of a wide range of female reproductive system disorders, including menstrual
                disorders, fibroid uterus, endometriosis, and ovarian cysts. Comprehensive care in gynecology also
                encompasses urogynaecology, addressing issues such as urinary incontinence and pelvic floor disorders,
                as well as menopause management.
            </p>
        </div>
        <div class="spec-content">
            <div class="circle"><img src="assets/icons/baby-icon.svg" width="50" height="50"></div>
            <h2>Obstretics</h2>
            <p>Dr. Jain offers comprehensive prenatal, antenatal, and postpartum care, with a particular focus on
                managing high-risk pregnancies. Her services also include pre-marital and pre-pregnancy counseling,
                helping couples understand reproductive health and prepare for a healthy pregnancy.
            </p>
        </div>
        <div class="spec-content">
            <div class="circle"><img src="assets/icons/abortion-icon.svg" width="50" height="50"></div>
            <h2>Infetility Specialist</h2>
            <p>Dr. Jain conducts thorough evaluations for both male and female fertility, diagnosing underlying issues
                and implementing effective treatment plans. Her infertility treatments include induction of ovulation,
                follicular tracking, and intrauterine inseminations, aiding couples in their journey to conception.
            </p>
        </div>
        <div class="spec-content">
            <div class="circle"><img src="assets/icons/surgeon-icon.svg" width="50" height="50"></div>
            <h2>Laparoscopic Surgeon</h2>
            <p>Dr. Jain is proficient in laparoscopic and hysteroscopic surgeries, utilizing these minimally invasive
                techniques to correct various gynecological conditions. These endoscopic corrective surgeries provide
                patients with quicker recovery times and less postoperative pain compared to traditional open surgeries.
            </p>
        </div>
    </section>

    <section class="fellowship-section container section">

        <div class="card">
            <h2 class="section-heading">Fellowship</h2>
            <ul>
                <li>Fellowship in Gynae Endoscopy</li>
                <li>Fellowship in Reproductive Medicine</li>

            </ul>
        </div>

        <div class="card">
            <h2 class="section-heading">Membership of Professional Organization</h2>
            <ul>
                <li>IMA : Indian Medical Association</li>
                <li>ISAR : Indian Society of Assisted Reproduction</li>
                <li>FOGSI : Federation of Obstetric and Gynaecological Societies of India</li>
                <li>IMS : Indian Menopause Society</li>
                <li>IAGE : Indian Association of Gynaecologist Endoscopis</li>
            </ul>
        </div>
        <div class="card">
            <h2 class="section-heading">Education</h2>
            <ul>
                <li>M.B.B.S From Gajaraja Medical College Gwalior M.P</li>
                <li>M.S. From Shyam Shah Medical College, Rewa</li>
            </ul>
        </div>

    </section>
</div>