@import "../../../public/assets/variables";

.side-nav {
    margin: 2rem auto;
    max-width: 550px;

    li {
        list-style: none;
        padding: 0.5rem 1.25rem;
        font-size: 1.5rem;
    }
}

.section-heading {
    margin-bottom: 4rem;
}

.section-content {
    @media (min-width: $bp-md) {
        display: flex;

        .side-nav {
            width: 40%;
            position: sticky;
            top: 7rem;
            height: 750px;
            min-width: 390px;
        }

        .treatment-container {
            width: 60%;
        }
    }
}